@import "tailwindcss";
@import 'swiper/css';

h1{
    color: #1E293B;
}
p{
     color: #6B7280;
     font-size: 17px;
}

.color{
    color: #1E293B;
    color: #F59E0B;
    color: #6B7280;
    color: #2563EB;
    color: #2DC866;
}