@import "tailwindcss";
@import "swiper/css";

h1 {
  color: #1e293b;
}

p {
  color: #6b7280;
  font-size: 17px;
}

.padding {
    padding: 1rem 1.5rem;
}
.background {
background: linear-gradient(135deg, #3E7D44, #6BAE75);;
} 

.color {
  color: #1e293b;
  color: #f59e0b;
  color: #6b7280;
  color: #2563eb;
  color: #2dc866;
}

@media (min-width : 1000px) {
    .padding {
        padding: 1.5rem 7rem;
    }
}